* {
	margin: 0;
	padding: 0;
}
body{
	display: grid;
	grid-template-columns: 3;
	background-color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: gray;
	line-height: 2.0em;
	margin-bottom: 20px;
}
h1{
	font-size: 2.4em;
	margin-bottom: 1ex;
}
h2{
	font-size: 1.8em;
	margin-bottom: 0.5ex;
	color: darkgray;
}
#sidebar{
	grid-column: 1;
	background-color: lightgreen;
	width: auto;	
}
#content{
	grid-column: 2;
	background-color: green;	
	padding: 20px;
}
a:hover{
	color: black;
	text-decoration: none;
}
a{
	color: green;
}
.floatright{
	float: right;
	margin: 10px;
	border-style: solid;
	border-radius: 10px;
	border-color: white;
	box-shadow: gray;
}
